<!DOCTYPE html/>

<html>


<head>


<title> </title>
<style type="text/css">
body { background-color: lightcyan;}
</style>

<title> Profile Information </title>

</head>

<form action = "" method = "post">
<fieldset>
	<legend>Profile information:</legend>
	<br>
	<p>Please <Strong>update</Strong> your personal information on the following form <br>
	<em>All fields are valid and must contain valid information</em>
	</p>
	<br>
	<table border = 1>
	<TR>
		<TD> Member ID: </TD>
		<td><input type = "text" name = "memberID" value = "{{memberID}}" readonly/>
		<br>
		</td>
	</TR>
	<TR>
		<TD> First Name: </TD>
		<td><input type="text" name="firstname" value="{{firstname}}"/></td>
	</TR>
	<TR>
		<TD> Last Name:</TD>
		<TD> <input type = "text" name = "lastname" value = "{{lastname}}"/>
		<br>
		</TD>
	<TR>
		<td> Age: </td>
		<td> <input type = "text" name = "age" value = "{{age}}"/> </td>
	</tr>
	<TR>
		<td> Email: </TD>
		<td> <input type = "Email" name = "email" value = "{{email}}"> <i>E.G.user@domain.com</i> </td>
	</TR>
	<TR>
		<TD> <img src = "{{ url_for('static', filename = 'myself.jpg') }}" width = "110" height = "130" > </TD>
		<td> <textarea name="bio" rows=8 cols = 50> </textarea> </td>
	</tr>

	<TR>
		<td>
		<input type="submit" value="Click to Update">
		</td>
	</TR>
	</table>
</fieldset>

</form>






</body>

</html>
