<!DOCTYPE html/>

<html>

<style type="text/css">
body { background-color: gray}
</style>
<head>

<title> HTML Lab3 </title>

</head>

<body style="background-color:powderblue;">

<form action = "" method = "post">
<p> Please <Strong>update</Strong></p>
<fieldset>
	<legend>Personal information:</legend>

	<br>
	<br>
	<br>
	Please Fill out the following Form
	<br>
	<i>All fields are valid and must contain valid information</i>
	<br>
	<br>
	<table border = 2> 
	<TR>
		<TD> Member ID: </TD>
		<td><input type = "text" name = "memberID">
		<br>
		</td>
	</TR>

	<TR>
		<TD> First Name: </TD>
		<td><input type = "text" name = "firstname">
		<br>
		</TD>
	</TR>
	<TR>
		<TD> Last Name:</TD>
		<TD> <input type = "text" name = "lastname">
		<br>
		</TD>
	<br>
	<TR>
		<td> Age: </td>
		<td> <input type = "text" name = "age"> </td>
	</tr>
	<TR>
		<td> Email: </TD>
		<td> <input type = "Email" name = "email"> <i>E.G.user@domain.com</i> </td>
	</TR>
	<TR height = 50>
		<TD> Bio: </TD>
		<td> <input type = "text" name = "Bio" size = 60 style = "height:200px">
	</TR>
	<TR>
		<td>
		<input type="submit" value="Submit">
		</td>
	</TR>
	</table>
</fieldset>

</form>






</body>

</html>
